#root{
  min-height: 100vh;
  display: flex;  
  flex-direction: column;
}

main{
  flex-grow: 1;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-nav .nav-link:hover {
  color: #0dcaf0; /* azul brillante bootstrap */
  transform: translateY(-1px);
}

footer {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.hover-link {
  transition: color 0.3s ease, transform 0.2s ease;
}

.hover-link:hover {
  color: #0dcaf0; /* azul bootstrap */
  transform: translateY(-2px);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #e6e6e6;
}
